/* index */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* { 
    margin:0;  
    padding:0;
    scroll-behavior: smooth;
    box-sizing:border-box;
    font-family: 'Lora', serif;
}
html::-webkit-scrollbar {
    width: 0.6vw; 
}
html::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 15px;
}
::selection {
    background-color: rgb(156, 156, 156);
    color: white;
}
body {
    background-color: rgb(251,251,251);
}
button {
    cursor: pointer;
    transition: 300ms;
}
button:hover {
    opacity: .8;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5)
}
.navbar-other {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
}
.navbar ul {
    display: flex;
    justify-content: space-between;
}
.logo img {
   width: 120px;
   height: 90px;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a::after {
    position: absolute;
    content: '';
    display: inline-block;
    left: 0;
    right: 0;
    bottom: -15px;
    background-color: cadetblue;
    width: 0;
    transition: .4s;
    border-radius: 10px;
    margin: auto;
}
.navbar ul li a:hover::after {
    width: 80%;
    height: 3px;
}
.background-slider{
    position: relative;
    margin: auto;
    min-width: 100%;
    font-family: 'Josefin Slab';
    background-color: #7c4848 ;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-end;
}
.background1{
    background: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 50%;
    border-radius: 50% 20% 50% 20%;
    margin: 50px;
    box-shadow: inset 10px 10px 20px 10px rgba(0,0,0,0.2);
} 
.background2 {
    background: url(../img/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right;
    height:600px;
    width: 50%;
    border-radius: 20% 50%;
    margin: 50px;
    box-shadow: inset 10px 10px 20px 10px rgba(0,0,0,0.2);
}
.background-text {
    position: absolute;
    left: 10%;
    top: 20%;
    color: #480032;
    padding: 30px;
    background: linear-gradient(-135deg,  #cc0000, #FAF0E6 10%, #FAF0E6 90%,#cc0000);
    border-radius: 20px;
    width: 500px;
}
.background-text2{
    background: linear-gradient(135deg, #cc0000 , #FAF0E6 10%, #FAF0E6 90%, #cc0000);
}
.background-text h1, .background-text h2 {
    font-size: 30px;
}
.background-text p {
    font-size: 23px;
}
.background-text p, .background-text h1, .background-text h2  {
    font-family: 'Josefin Slab';
    font-weight: 100;
    padding: 10px;
}
.background-text h2 {
    margin-top: 100px;
}
.background-text button {
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color:#dc143c;
    border:none;
    cursor: pointer;
    color: white;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top:400px;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;                                 
    font-size: 30px;                                 
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;                                 
    user-select: none;                                                                 
    background-color: rgba(0,0,0,0.4)                                 
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dots {
    background-color: #8a3324 ;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
.main-foto-text {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 150px 0 0;
}
.main-foto-text img {
    padding: 10px;
    max-width: 400px;
    margin-left: 40px;
}
.main-foto-text-text {
    max-width: 600px;
    padding:20px;
}
.main-foto-text-text p, .main-foto-text-text h1, .main-foto-text-text h3, .main-foto-text-text button {
    font-weight: 100;
    padding: 10px;
}
.main-foto-text-text button {
    margin: 10px;
    padding: 15px;
    background-color: rgb(184, 29, 29);
    border:none;
    border-radius:10px;
    color:white;
}
.main-foto-text-text h1 {
  color:rgb(184, 29, 29);
  font-weight: 700;
  font-size: 39px;
}
.main-foto-text-text h3 {
    font-size: 23px;
}
.main-foto-text-text p {
    color: rgb(90, 90, 90);
    font-size: 20px;
}
.research {
    background-color: white;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.e .h2{
    text-align: center;
}

.research-text {
    padding:50px;
}
.research-text h1{
    color:rgb(184,29,29);
    font-size:36px;
    padding: 15px;
}
.research-text p{
    color: rgb(90,90,90);
    font-size: 23px;
    padding: 15px;
}
.research-text a {
    color: rgb(184, 29, 29);
    padding: 15px;
    font-size: 20px;
}
.research img {
    padding: 50px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
.footer h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
.social-media a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
  }
  
.second p {
    margin: 0;
  }
  
.copyright {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  /* about us */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 30px;
    margin: 20px;
    background-color:#f5f5f5;
    border-radius :5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
/*box1*/
section.boxes-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
}
.box{
    width:300px;
    background-color: #ffff;
    border: 0.5px solid #ececec;
    margin: 20px;
    box-sizing: border-box;
}
.box img{
    width:100%;
    height:auto; 
    object-fit: cover; 
}



/* TRENDING */
.title {
    text-align: center;
    margin-bottom: 55px;
  }
  .title h2 {
    font-size: 50px;
    color: #015788;
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  .title p {
    font-size: 30px;
    color: #111111;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
  }
  
#courses .courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 90px;
    padding-top: -5px;
}

#courses .courses .card {
    width: 100%;
    height: 430px;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#courses .courses .card img {
    width: 100%;
    height: 370px;
}

#courses .courses .card .location {
    padding-left: 40px;
    padding-top: 12px;
}

#courses .courses .card .location i {
    font-size: 24px;
    color: #015788;
}

#courses .courses .card .location i:hover {
    color: #79c0ea;
}

#courses .courses .card .location span {
    font-size: 24px;
    padding: 30px;
    font-style: italic;
    font-weight: 300;
    color: #015788;
}

#courses .courses .card:hover {
    transform: scale(1.1);
}

/* OFFERS */

#oferetatt {
    max-width: 1200px;
    margin: 8px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display:  flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .hotel-box {
    transition: transform 0.3s ease;
    width: 300px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
  }
  .hotel-box img {
    max-width: 100%;
    border-radius: 5px;
    height: 280px;
  }

  .hotel-box:hover {
    transform: scale(1.05);
  }
  
  .hotel-info {
    padding: 15px;
  }
  
  .hotel-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .hotel-description {
    color: #666;
    margin-top: 10px;
    color: #666;
  }
  .hotel-box {
    position: relative;
    height: 710px;
  }
  
  .book-now-button {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #bfbc27;
    color: black;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .book-now-button:hover {
    background-color: #45a049;
  }
  .offers-descrition{
    text-align: center;
    font-weight: bold;
    text-decoration: wavy;
    color: #00538C;
  }
.shkrim h1{
    text-align: center;
    color: #5D76A9;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 900;
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }






  
/* CONTACT signup login */
.contact, .login, .signup{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}
.contact {
    margin: 100px 0;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.foto{
	background: url("../img/c.png") no-repeat center;
	background-size: cover;
	height: 100%;
}
.box, .login-box-inside, .signup-box-inside{
	padding: 25px 40px;
}
.box h2, .login-box-inside h2, .signup-box-inside h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}
.box h2:after, .login-box-inside h2:after, .signup-box-inside h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: rgb(184,29,29);
}
.contact-field, .field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}
.contact-field:hover, .field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.contact textarea{
	min-height: 150px;
}
.btn, .login-button, .signup-button{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgb(184,29,29);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    border-radius: 10px;
}
.btn:hover, .login-button:hover, .signup-button:hover{
    background-color: rgba(184, 29,29, .8);
}
.contact-field:focus, .field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: white;
}
.login-box, .signup-box {
    max-width: 500px;
	text-align: center;
	background-color: white;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.login-body, .signup-body {
    height: 100vh; 
    width: 100%;
}
.login-box a, .signup-box a {
    color: rgb(184, 29, 29);
    transition: 400ms;
}
.login-box a:hover, .signup-box a:hover {
    color:rgba(184,29,29, 0.7);

}
.map {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 70px 5px 0 5px;
}
.map h1{
    color: rgb(184, 29, 29);
    margin: 10px;
}




